nav {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    overflow: hidden;
    background-color: lightblue;
}

.navbar a:link {
    background-color: lightblue;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    border: solid white;
}

body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    max-width: 70em;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: lightblue;
    padding: 10px;
  }

h1 {
    color: black;
    text-shadow: 2px 2px grey;
}

strong {
    color: black;
    font-size: large;
}

button {
    background-color: lightgreen; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    margin: 15px;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  label {
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: top;
    padding-left: 15px;
    padding-right: 15px;
}

.react-link .h3 {
    color: rgb(128, 0, 21);
    text-decoration: none;
}

.react-link {
    text-decoration: none;
}

.header {
    height: 100px;
}

.poll_list {
    background-color: lightblue;
    margin: 10%;
    padding: 10px;
}

.poll-questions {
    margin-top: 50px;
    background-color: lightblue;
    padding: 5px;
}

.question {
    background-color: lightgreen;
    margin: 10%;
}

.submission {
    margin-top: 50px;
}